.item-carrousel {
  width: 350px;
  height: 200px;
  background-size: cover;
  background-image: url("./assets/restaurante-contacto.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 10px;
}
.item-carrousel__header {
  display: flex;
}
.item-carrousel__header__nombre {
  font-size: 20px;
  font-weight: bold;
}

.item-carrousel__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}
.item-carrousel__footer__datos {
  display: flex;
  flex-direction: column;
}
.item-carrousel__footer__botones {
  display: flex;
}
.item-carrousel__footer__botones > button {
  height: 45px;
  margin: 0px 8px;
  border-radius: 3px;
  background-color: #ff2929;
  border: none;
  color: white;
  padding: 0px 20px;
  min-width: 60px;
}
